{% extends "base.html" %} 

{% block title %}Sitzplan{% endblock %}

{% block header%}
<link rel="stylesheet" type="text/css" href="./static/css/sitzplan.css" />
{% endblock %}

{% block content %}
<h1>Sitzplan</h1>

<div class="seating-container">
  <div class="seating-container-teacher">
    <div class="seating-item teacher">Teacher A</div>
  </div>
  <div class="seating-container-students">
    <!-- row start -->
    <div class="seating-item occupied">Student A</div>
    <div class="seating-item">(Empty)</div>
    <div class="seating-item">(Empty)</div>
    <div class="seating-item occupied">Student B</div>

    <div class="seating-item floor"></div>

    <div class="seating-item occupied">Dominik Krenn</div>
    <div class="seating-item">(Empty)</div>
    <!-- row end -->

    <!-- row start -->
    <div class="seating-item occupied">Student C</div>
    <div class="seating-item occupied">Student D</div>
    <div class="seating-item">(Empty)</div>
    <div class="seating-item">(Empty)</div>

    <div class="seating-item floor"></div>

    <div class="seating-item occupied">Student F</div>
    <div class="seating-item occupied">Student G</div>
    <!-- row end -->

    <!-- row start -->
    <div class="seating-item occupied">Student H</div>
    <div class="seating-item occupied">Student I</div>
    <div class="seating-item">(Empty)</div>
    <div class="seating-item">(Empty)</div>

    <div class="seating-item floor"></div>

    <div class="seating-item">(Empty)</div>
    <div class="seating-item occupied">Student J</div>
    <!-- row end -->

    <!-- row start -->
    <div class="seating-item">(Empty)</div>
    <div class="seating-item occupied">Student K</div>
    <div class="seating-item occupied">Student L</div>
    <div class="seating-item">(Empty)</div>

    <div class="seating-item floor">Student M</div>

    <div class="seating-item">(Empty)</div>
    <div class="seating-item">(Empty)</div>
    <!-- row end -->

    <!-- row start -->
    <div class="seating-item occupied">Student N</div>
    <div class="seating-item occupied">Student O</div>
    <div class="seating-item">(Empty)</div>
    <div class="seating-item">(Empty)</div>

    <div class="seating-item floor"></div>

    <div class="seating-item occupied">Student P</div>
    <div class="seating-item occupied">Student Q</div>
    <!-- row end -->
  </div>
</div>
{% endblock %}
